<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.category %>
</p>

<p>
	<strong>Active:</strong>	
	<%= @business.is_active ? "Yes" : "No" %>
</p>

<p>
	<strong>Image:</strong>
	<%= image_tag(@business.image.url,:width => 150, :height => 150, :crop => :fill) if @business.image? %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>